.container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #00ccff;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
.required {
    color: red;
  }

@media screen and (max-width: 768px) {
  .container{
    width: 70vw;
  }
}