.register{
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.container {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #00ccff;
}
.required {
  color: red;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.error_msg{
  width: 100%;
  margin: 20px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
  background: #e96a6a;
  color: rgb(173, 0, 0);
  font-weight: bolder;
}

@media screen and (max-width: 968px) {
  .container{
    width: 80vw;
  }
}